{
    "token": "",
    "prefix": "$",
    "supportsystem": "true",
    "botid": "",
    "guildid": "",
    "status": "dnd",
    "gamename": "title",
    "gametype": "STREAMING",
    "gameurl": "https://www.twitch.tv/twitch"
}